body {
    background-color:papayawhip;
}

h1 {
    margin-left: 400px;
}

p.heading {
    margin-left: 525px;
}

p.main {
    margin-left: 5px;
 }


 b {
    margin-left: 5px;
 }

 
